<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este es el sitio web de mi empresa de transporte, donde especifico los distintos servicios de transporte y logistica que puedo brindar a traves de mi flota de camiones">
    <meta name="keywords" content="TRANSPORTE, COMBUSTIBLE, INTERNACIONAL, LOGISTICA, CARGA, CAMIONES">
    <title>Quienes Somos - Molve Transporte Internacional SRL</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/archivo.css">
</head>

<body>
     <!--Aca comienza el contenido de mi sitio-->
     <header>
            <!--Encabezado de la pagina-->

            <nav class="navbar navbar-expand-lg fs-5 navbar-light bg-light">
                <div class="container-fluid">
                    <!-- Logo -->
                    <a href="../index.html"><img src="../img/logo.jpeg" alt="logo"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Empresa.html">Empresa</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Servicios.html">Servicios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Flota.html">Flota</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Contacto.html">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
    </header>

    <!-- Carrusel con Bootstrap! -->

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../img/carrusel-min.jpg" class="d-block w-100" alt="camion1">
          </div>
          <div class="carousel-item">
            <img src="../img/carrusel1-min.jpg" class="d-block w-100" alt="camion2">
          </div>
          <div class="carousel-item">
            <img src="../img/carrusel2-min.jpg" class="d-block w-100" alt="camion3">
          </div>
          <div class="carousel-item">
            <img src="../img/fondoservicios-min-1.jpg" class="d-block w-100" alt="camion3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <section>

        <!--Descripcion de la empresa-->
        <!-- Bloque contenedor -->

        <h3 class="quienesSomos">Quienes Somos</h3>

        <p class="container__estiloParrafo">Somos una empresa joven y familiar que nació para abastecer principalmente al mercado argentino e internacional en el servicio de transporte de liquidos. Nos reúne la pasión por cumplir continuamente nuestros objetivos y por continuar creciendo en nuestro rubro. Nos representa el compromiso y la responsabilidad con la que trabajamos continuamente.</p>
        <p class="container__estiloParrafo">A partir de su fundación, la empresa se ha desempeñado con eficacia y responsabilidad en el mercado del transporte de líquidos, abasteciendo el ámbito de combustibles líquidos, aceites, glicerina, alcohol y similares. </p>
        <p class="container__estiloParrafo">En la actualidad hemos adicionado el servicio de transporte de cargas generales tales como áridos y materiales de construcción.-</p>   
        

        <div class="container">
          <!-- Bloque contenedor -->
            <div class="services">
                <div class="services__liquidos">
                <p class="mision">Misión</h4>
                    <p class="mision-vision">Abastecer a las centrales térmicas en tiempo y forma como se nos indica y cumplimentar el servicio de carga de manera eficaz y eficiente.</p>
                </div>
                <div class="services__cargasPeligrosas">
                  <p class="mision">Visión</h4>
                    <p class="mision-vision">Ser el principal abastecedor de combustible en el mercado energético nacional y abarcar el servicio de cargas nacional e internacional.</p>
                </div>
                <div class="services__cargasAridas">
                  <p class="mision">Valores</h4>
                    <p class="mision-vision">La honestidad, el cumplimiento, la dedicacion y la diligencia son nuestros pilares principales.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3 class="quienesSomos">Certificaciones Vigentes</h3>
        <p class="container__estiloParrafo certificaciones">Normas ISO certificadas por la empresa</p>
    </section>

    <footer class="footer">
      <div class="container"> 
        <div class="row-c">
          <div class="footer-col">
            <h4>Sitio</h4>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="./Empresa.html">Empresa</a></li>
              <li><a href="./Servicios.html">Servicios</a></li>
              <li><a href="./Flota.html">Flota</a></li>
              <li><a href="./Contacto.html">Contacto</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Redes</h4>
            <div class="social-links">
              <a href="https://www.facebook.com"><img src="../img/logotipo-circular-de-facebook.png" alt="logofacebook" width="30px" height="30px"></a>
              <a href="https://www.linkedin.com"><img src="../img/linkedin.png" alt="logolinkedin" width="30px" height="30px"></a>
              <a href="https://www.whatsapp.com"><img src="../img/whatsapp (1).png" alt="logowhatsapp" width="30px" height="30px"></a>
          </div>
        </div>
        <div class="footer-col">
          <h4>Contacto</h4>
            <p class="parrafoFooter">Duarte Quiros 834 3 "A" - Córdoba Capital</p>
            <p class="parrafoFooter">+549-3513254604</p>
            <p class="parrafoFooter">contacto@molve.com.ar</p>
          </ul>
        </div>
      </div>
  </footer>
  
    <!-- SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>