<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este es el sitio web de mi empresa de transporte, donde especifico los distintos servicios de transporte y logistica que puedo brindar a traves de mi flota de camiones">
    <meta name="keywords" content="TRANSPORTE, COMBUSTIBLE, INTERNACIONAL, LOGISTICA, CARGA, CAMIONES">
    <title>Quienes Somos - Molve Transporte Internacional SRL</title>

    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/archivo.css">

    

</head>

<body>

     <!--Aca comienza el contenido de mi sitio-->

     <header>

            <!--Encabezado de la pagina-->

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
    
                    <!-- Logo -->
    
                    <a href="../index.html"><img src="../img/logo.jpeg" alt="logo"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Empresa.html">Empresa</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Servicios.html">Servicios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Flota.html">Flota</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./Contacto.html">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
    </header>

    <!-- Carrusel con Bootstrap! -->

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../img/carrusel-min.jpg" class="d-block w-100" alt="camion1">
          </div>
          <div class="carousel-item">
            <img src="../img/carrusel1-min.jpg" class="d-block w-100" alt="camion2">
          </div>
          <div class="carousel-item">
            <img src="../img/carrusel2-min.jpg" class="d-block w-100" alt="camion3">
          </div>
          <div class="carousel-item">
            <img src="../img/fondoservicios-min-1.jpg" class="d-block w-100" alt="camion3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <section>

        <!--Descripcion de la empresa-->

        <!-- Bloque contenedor -->

        <h3 class="quienesSomos">¿Quienes Somos?</h3>

        <p class="container__estiloParrafo">Durante su fundación en 2006 hasta la actualidad, Molve Transporte Internacional SRL no sólo se ocupó del mercado internacional, sino también del mercado local. En este período ha realizado viajes y firmado contratos con distintas empresas nacionales. En todos los casos, se cumplió de manera efectiva con el compromiso asumido, teniendo en cuenta el rol fundamental de este servicio en la cadena comercial y productiva del país.</p>
        <p class="container__estiloParrafo">En el mes de Mayo del 2014, mediante licitación, se nos adjudicó un porcentaje de la distribución de Gasoil para las Centrales Termoeléctricas de la República Argentina, contrato firmado con C.A.M.M.E.S.A. (Compañía Administradora del Mercado Mayorista Eléctrico Sociedad Anónima) por la duración de 2 (dos) años. Dicho contrato, ha sido renovado por un período de igual duración, el cual se encuentra vigente.-</p>
        <p class="container__estiloParrafo">Se citan algunas empresas, del ámbito nacional, con la que Molve Transporte Internacional SRL tuvo contratos de trabajo o bien se realizaron viajes de manera eventual: CAMMESA, YPF, Viluco SA, Vitol Argentina SA, Vicentin, Las Nazarenas SA, Glencore SA, Trafigura, ENARSA, Benito Roggio e Hijos SA, Canteras Gran Ombu S.A, HOLCIM Argentina S.A.</p>   
        

        <!--Parrafo descripcion de la empresa-->

        <div class="container">

          <!-- Bloque contenedor -->

            <div class="services">
                <div class="services__liquidos">

                <p class="mision">Misión</h4>

                    <p class="mision-vision">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci culpa est dolore unde, velit, id ea quas, asperiores at dolores veniam molestias repellat excepturi. Laborum odit explicabo perferendis voluptatum.</p>
                </div>
                
                <div class="services__cargasPeligrosas">

                  <p class="mision">Visión</h4>

                    <p class="mision-vision">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci culpa est dolore unde, velit, id ea quas, asperiores at dolores veniam molestias repellat excepturi. Laborum odit explicabo perferendis voluptatum.</p>
                </div>

                <div class="services__cargasAridas">

                  <p class="mision">Valores</h4>

                <p class="mision-vision">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi adipisci culpa est dolore unde, velit, id ea quas, asperiores at dolores veniam molestias repellat excepturi. Laborum odit explicabo perferendis voluptatum.</p>
                </div>
            
            </div>

        </div>

    </section>


    <section>

        <h3 class="quienesSomos">Certificaciones Vigentes</h3>
  
        <p class="container__estiloParrafo certificaciones">Normas ISO certificadas por la empresa</p>
        
    </section>


    <footer class="pieDePagina">

        <!--Pie de pagina-->
        
        <div class="pieDePagina__logoMolve">

            <img src="../img/logo.jpeg" alt="logo">
        </div>


        <div>

            <p>Duarte Quiros 835 3 "A"</p>
            <p>Córdoba Capital</p>

        </div>

        <div>

            <p>Telefono: +5493513254604</p>
            <p>Mail: paula.molina@molve.com.ar</p>

        </div>

        <div class="pieDePagina__redes">

            <a href="https://www.facebook.com"><img src="../img/logotipo-circular-de-facebook.png" alt="logofacebook" width="30px" height="30px"></a>
            <a href="https://www.linkedin.com"><img src="../img/linkedin.png" alt="logolinkedin" width="30px" height="30px"></a>
            <a href="https://www.whatsapp.com"><img src="../img/whatsapp (1).png" alt="logowp" width="30px" height="30px"></a>

        </div>

    </footer>

    
    <!-- SCRIPT -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>


</html>