@charset "UTF-8";
/*VARIABLES*/
/*Variables texto*/
/*Declaracion de BLOQUES--BEM*/
/*BLOQUE UNO*/
/*Primera seccion de mi INDEX*/
.sectionPrincipal {
  background-image: url(../../img/carrusel1-min.jpg);
  background-size: cover;
  height: 102vh;
  margin: 0%; }

.sectionPrincipal__container {
  max-width: 1140px;
  margin: 0 auto; }

.sectionPrincipal__segundoTitulo {
  color: #1F376A;
  font-weight: bold;
  font-size: 35px;
  font-family: "Lato", sans-serif;
  text-align: left;
  font-style: italic;
  margin-left: 10px;
  padding: 10px 10px 5px 15px;
  text-decoration: none;
  /*margin-left: -6.5rem;*/
  animation-duration: 4s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*BLOQUE DOS*/
/*Seccion dos de mi INDEX: ¿Quienes somos?*/
.container {
  max-width: 1140px;
  margin: 0 auto; }

.container__nosotros {
  margin-top: 40px; }

.container__estiloParrafo {
  color: black;
  font-weight: normal;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-style: normal;
  padding: 10px;
  margin: 15px 30px; }

.container__conocenos {
  color: #1F376A;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-align: right;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 30px; }


/*BLOQUE CUATRO*/
/*HTML servicios: Nuestros Servicios*/
.style {
  margin-top: 20px;
  padding: 10px; }

.style__tituloFlota {
  color: #1F376A;
  font-weight: bold;
  font-size: 30pt;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 20px;
  margin: 15px 30px;
  width: 91%;
  height: auto;
  animation-duration: 4s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.style__fondoLiquidos {
  margin: 0px;
  padding: 10px; }

.style__tituloServicios {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 15px 30px;
  padding: 13px;
  border-radius: 10px;
  background-color: #1F376A; }

.quienesSomos {
  color: #1F376A;
  font-weight: bold;
  font-size: 30pt;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px; }

/*BLOQUE CINCO*/
/*HTML empresa: Mision, vision y valores*/
.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%; }

.services__liquidos {
  display: flex;
  flex-direction: column; }

.services__cargasPeligrosas {
  display: flex;
  flex-direction: column; }

.services__cargasAridas {
  display: flex;
  flex-direction: column; }

.mision-vision {
  color: black;
  font-weight: normal;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-style: normal;
  padding: 10px;
  margin: 15px 30px;
  border: 2px solid black;
  border-radius: 10px; }

/*INDEX*/
img {
  max-width: 100%;
  height: auto; }

body {
  background-color: white; }

a {
  text-decoration: none; }

/*Estilo de mi primer titulo*/
h1 {
  color: #1F376A;
  font-weight: bold;
  font-size: 35px;
  font-family: "Lato", sans-serif;
  text-align: left;
  padding: 250px 10px 5px;
  /*margin-left: -6rem;*/ }

/*Comienza la segunda seccion - Descripcion empresa*/
section h2 {
  color: #1F376A;
  font-weight: bold;
  font-size: 30pt;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px; }

/* Tercera seccion - Descripcion servicios */
.titulos {
  margin-top: 60px;
  margin-bottom: 4rem;
  animation-duration: 4s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*Cards - Servicios*/
.containerCards {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.containerCards .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s; }

.containerCards .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.containerCards .card img {
  width: 330px;
  height: 220px; }

.containerCards .card h4 {
  font-weight: 600; }

.containerCards .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300; }

.containerCards .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db; }

.tituloCards {
  font-family: "Lato", sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: #1F376A;
  margin-top: 5%; }

.parrafoCards {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black; }

/*Footer*/
.container {
  max-width: 1170px;
  margin: auto; }

.row-c {
  display: flex;
  flex-wrap: wrap; }

ul {
  list-style: none; }

.footer {
  background-color: #24262b;
  padding: 70px 0; }

.footer-col {
  width: 25%;
  padding: 0 15px; }

.footer-col h4 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative; }

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px; }

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px; }

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease; }

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px; }

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease; }

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff; }

.parrafoFooter {
  color: #bbbbbb; }

h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #fcf9f9;
  text-align: center;
  margin-bottom: 20px; }

/*Formulario Dos*/
.presupuesto {
  color: #1F376A;
  font-weight: bold;
  font-size: 30pt;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  margin-bottom: 1em;
  margin-top: 1em; }

.hablanos {
  background: white;
  color: white;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  padding: 0 1.5em;
  margin-bottom: 30px; }

.container__hablanos {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

.hablanos__ul {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #222222; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #5e8df3; }

.contact-form form button {
  background: #1F376A;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #1F376A;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

/* CONTACT INFO */
.contact-info {
  background: #1F376A; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

/*HTML Empresa*/
.mision {
  color: #1F376A;
  font-weight: bold;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-style: italic;
  margin-top: 50px; }

.title {
  text-align: center;
  font-size: 30pt;
  color: #1F376A;
  margin-top: 100px;
  font-family: "Lato", sans-serif;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 30px; }

/*HTML FLOTA*/
.contenedorFlota {
  margin: 20px; }

.padreFlota__descripcionCamiones {
  color: #1F376A;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  margin-top: 18px; }

  
/* MEDIA QUERIES */
@media (max-width: 768px) {
  .segundoTitulo {
    margin: 0%;
    padding: 1.5%; }
  footer {
    flex-direction: column; }
  .marcas {
    display: flex;
    flex-direction: column; }
  .services {
    display: flex;
    flex-direction: column; }
  .titulos {
    font-size: 18px;
    margin: 15px, 0px; }
  .tituloLiquidos {
    font-size: 15px;
    margin: 15px, 0px; }
  .tituloCargasAridas {
    font-size: 15px;
    margin: 15px, 0px; }
  .tituloCargasPeligrosas {
    font-size: 15px;
    margin: 15px, 0px; }
  .parrafoLiquidos {
    font-size: 13px; }
  .parrafoCargasAridas {
    font-size: 13px; }
  .parrafoCargasPeligrosas {
    font-size: 13px; }
  .footer-col {
    width: 50%;
    margin-bottom: 30px; } }

@media (max-width: 574px) {
  .footer-col {
    width: 100%; } }

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px; } }

@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

@media (min-width: 1325px) {
  h1 {
    margin-left: -6rem; }
  .sectionPrincipal__segundoTitulo {
    margin-left: -6.5rem; } }

